// The purpose of this Sass file is to combine all of the partial Sass files for the project
// These are imported in a certain order -> to maintain the specificity of the imported elements
// This one Sass file then links to the main CSS file for the project, which compiles the code in the order of these imports

//  The process used to obtain the order of these imports below was: 
    // The CSS and html for the mobile version of the ohmyfood website was first written
    // This CSS was then deconstructed into several sections, according to the 7-1 file structure in Sass
    // This file structure was provided in the Sass course on the OpenClassrooms platform, and is listed below:  
        // base/ <- for global styles (resets, typography)
        // components/ <- for individual component styles
        // layout/ <- for overall layout structure styles
        // pages/ <- for page-specific styles
        // themes/ <- for theme-related styles
        // abstracts/ <- for Sass tools, mixins, variables
        // vendors/ <- for third-party styles which are used
    // The CSS was then taken out of its main file and broken down into several partial scss files, which are imported back into this scss file
    // The order of the imports listed below is the same as the order in which they initially appeared in the CSS for the mobile version of the 
    // ohmyfood homepeage, so that when they compile into CSS they are in the same order that they were in that initial CSS file

// utilities 
@import "./sass/utils/variables";
@import "./sass/utils/mixins";

// base 
@import "./sass/base/root";

// layouts
@import "./sass/layouts/header";

// components 
@import "./sass/components/restaurant_cards";
@import "./sass/components/heart_animation";

// more layouts 
@import "./sass/layouts/footer";
@import "./sass/layouts/pages";
@import "./sass/layouts/loading_animations";

// more utilities 
@import "./sass/utils/keyframes";
