// Imports 
@import '../utils/variables';

// Sass 
.restaurants {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  background-color: $quaternary-color;
  padding: 2em 0em 3em 0em;

  @media screen and (min-width: $breakpoint) {
    padding-left: 5em;
    padding-right: 5em;
  }
}

.restaurants__title {
  padding-left: 2em;
}

.restaurant__card {
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px #0000001A;
  margin: 1em;
  position: relative;
  background: #ffffff;
  height: 251px;
  cursor: pointer;

  .restaurant_image {
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 100%;
    max-height: 11em;
  }

  .restaurants_name {
    padding-left: 1.25em;
    display: flex;

    h3 {
      display: flex;
      align-items: center;
    }

    i {
      right: 1em;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 700;
  }

  .subtitle_card {
    p {
      font-size: 17px;
      font-weight: 300;
      margin-top: 10px;
    }
  }

  .new {
    color: $label-font-color;
    background-color: $tertiary-color;
    border: 5px solid $tertiary-color;
    border-radius: 2px;
    position: absolute;
    right: 2.6%;
    top: 5%;
    width: 80px;
    height: 24px;
    display: flex;
    padding-top: 5px;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px #00000026;
  }

  .subtitle_card {
    padding-left: 1.25em;
  }

  .restaurant_description {
    line-height: 0;
  }
}

.restaurants_container {
  box-sizing: border-box;

  @media screen and (min-width: $breakpoint) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}