@keyframes goAway {
  0% {
    opacity: 1;
    z-index: -1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes textExpand {
  100% {
    font-size: 90px;
    opacity: 1;
  }
}

.menu-page-container {
  animation: fadeInMenu 2.9s forwards;
}

.menu__block--startersFadeIn {
  animation: fadeInMenu 1.5s forwards;
}

.menu__block--mainsFadeIn {
  animation: fadeInMenu 3s forwards;
}

.menu__block--dessertsFadeIn {
  animation: fadeInMenu 4s forwards;
}

@keyframes fadeInMenu {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}
