// button-styles <- TO CREATE THE PINK BUTTONS
// %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    // this mixin creates the buttons in the project and is used twice throughout the Sass
        // -> in the pages sass file (for the four menu pages in the project)
        // -> in the header sass file (in the header of the project homepage)
@mixin button-styles($width, $gradient) {
    
    // format the buttons 
    background: $gradient;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
    color: white;
    height: 50px;
    border: none;
    border-radius: 25px;
    padding: 1em;
    margin-top: 1.5em;
    margin-bottom: 3em;
    opacity: 1;
    font-size: 16px;
    width: $width;

    // add animation 
        // -> to go from its regular state to its hover state 
    transition: opacity 250ms, transform 250ms ease-in-out;
    

    &:hover {
    // to format the buttons in their hover states 
      box-shadow: 0px 4px 16px rgb(0, 0, 0);
      opacity: 0.85;
      transform: scale(1.05);
      cursor: pointer;

        // to add in a transition to make the button animation reversible 
      transition: all 250ms ease-in-out;
    }
  }
//    note: refer to the in-depth comments around the header section of the project index.html 
    // file for more information about the problem-solving approach used to create these buttons 

// textEllipsis <- ADDS ELLIPSIS TO TEXT IN THE MENU PAGES
// %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
// -> this mixin is used on the four restaurant pages for the project, and so multiple times 
    // throughout the _pages.scss partial which styles these pages

@mixin textEllipsis() {

    // below - to force the content to fit onto the choice card when it is shrunk to the mobile breakpoint and below 
    white-space: nowrap;

    // below - adds in '...'
    text-overflow: ellipsis;

    // below - to further separate the text in a given choice card from the dish price when the menu pages are 
        // shrunk to the mobile breakpoint region and below  
    overflow: hidden;
}

// note: refer to the in-depth comments around the Kitchen West html file for more information about the problem-solving
    // approach used to create these features 