.footer {
  background-color: #353535;
  color: white;
  padding: 1em 0em 1em 0em;
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 7em;
    align-items: center;
  }
}
.footer_title {
  font-family: "Shrikhand", cursive;
  padding-left: 2.25em;
  font-size: 18px;
}
.footer_logo {
  display: flex;
  align-items: baseline;
  gap: 0.5em;
}

footer a {
  color: white;
}

@media screen and (min-width: 1024px) {
  .footer ul {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .footer li {
    margin-bottom: 0.5em;
    padding-left: 1em;
    padding-left: 52px;
  }
}

.footer h3 {
  font-weight: 400;
  font-size: 16px;
}