// Imports 
@import '../utils/variables';
@import '../utils/mixins';

// Sass 
body {
  font-family: "Roboto", sans-serif;
}

// h1 is to format the 'ohmyfood' text into its logo 
h1 {
  text-align: center;
  font-family: "Shrikhand", cursive;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

.location {
  display: flex;
  align-items: baseline;
  background-color: #eaeaea;
  color: #353535;
  justify-content: center;

  .fa-solid {
    padding-right: 1em;
  }
}

.introduction {
  text-align: center;
  background-color: $quaternary-color;

  &__title {
    color: #000;
    padding-top: 0.7em;
  }

  &__down-title {
    color: #353535;
    font-weight: 300;
    font-size: 18px;
  }

// below -> 'Explore our restaurants' button 
// %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
  // this button was repeated throughout all of the webpages in the project -> and so was created using a mixin  
        // this mixin was used twice in the Sass -> the other place it is used is in the pages sass file, which targets the sass for the four menu pages  
  // below is the use of this mixin on the project homepage (in the index.html file) only, to create this button 
.button {
  @include buttonStyles(218px, linear-gradient(to top, $primary-color, $secondary-color));
}

  &__title h2 {
    font-size: 24px;
    font-weight: 700;
  }
}

.functioning {
  margin-bottom: 50px;
  // for the media queries around the header of the index.html file -> the three cards with the purple circles 
    // this is the media query for the container which is around all of the cards and the title in that section of the project homepage 
    // -> the padding for this entire section is changing (refer to comments around the index.html file for the problem solving approach used for this)
  @media screen and (min-width: $breakpoint) {
    padding: 0 5em 0 5em;
  }

  h2 {
    padding: 20px;
    font-size: 24px;
  }

  &__list {
    padding-left: 0;
    // this media query is for the container which is around all of the cards with the purple circles on the project index.html (homepage) file 
      // not including the text which says "Restaurants"
      // -> we are flexing the three cards with the purple circles into a row -> under the context of media queries 
      // -> refer to the comments around the index.html file for the problem-solving approach used for this
    @media screen and (min-width: $breakpoint) {
      display: flex;
      justify-content: space-between;
    }

    li {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      padding: 0.5em;
      margin: 1.5em 1.5em;
      font-weight: 500;
      border-radius: 25px;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
      background-color: $quaternary-color;

      // this media query dictates the behaviour of each of the cards with the purple circles on the project homepage 
        // -> we are fixing the widths of the cards on the page -> so they don't stack 
        // -> refer to the comments around the index.html file for the problem-solving approach used for this
      @media screen and (min-width: $breakpoint) {
        width: 20em;
      }
    }

    &--number {
      background-color: $primary-color;
      color: white;
      border-radius: 50%;
      padding: 0.2em;
      margin-left: -1.3em;
      text-align: center;
      width: 24px;
      height: 20px;
      padding-top: 4px;
    }
  }
}

.fa, .fas {
  color: grey;
  margin-left: 1em;
  margin-right: 1em;
}

.fa-mobile-alt:before, .fas-mobile-alt:before {
  content: "\f3cd";
}

.fa-store {
  color: $primary-color;
}
