.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background: radial-gradient(circle, #9356DC, #99E2D0);  
  inset: 0;
  z-index: 1;
  animation: goAway 0s 2.9s forwards;
}

.word {
  font-size: 79px;
  opacity: 0.9;
  color: #FF79DA;
  text-shadow: 3px 3px 3px black;
  font-family: shrikhand;
  animation: textExpand 2.9s forwards ease-out;
}