// Imports 
@import '../utils/variables';
@import '../utils/mixins';

// Sass 
.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background: radial-gradient(circle, $primary-color, $tertiary-color);
  inset: 0;
  z-index: 1;
  animation: goAway 0s 2.9s forwards;
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: inherit;
  }
}

.word {
  font-size: 79px;
  opacity: 0.9;
  color: $secondary-color;
  text-shadow: 3px 3px 3px black;
  font-family: shrikhand;
  animation: textExpand 2.9s forwards ease-out;
}

@keyframes goAway {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes textExpand {
  to {
    transform: scale(1.2);
  }
}
