// Imports 
@import '../utils/variables';
@import '../utils/mixins';

// Sass 
.banner {
  display: flex;
  align-items: center;
}

.banner_arrow {
  padding-left: 1em;
  font-size: 1.5em;
}

.banner_title {
  flex-basis: 90%;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 17.14px;
}

.menu_image {
  box-sizing: border-box;

  img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 250px;
  }
}

.container {
  background-color: $quaternary-color;
  margin-top: -3em;
  border-radius: 25px 25px 0 0;
  position: relative;

  @media screen and (min-width: $breakpoint) {
    margin: -3em 12em 0em 12em;
  }
}

.container_banner {
  font-family: shrikhand;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  height: 51px;
  padding-top: 40px;
  padding-left: 17px;

  @media screen and (min-width: $breakpoint) {
    justify-content: center;
    padding-left: 0em;
  }
}

.container_title i {
  right: 1em;

  @media screen and (min-width: $breakpoint) {
    right: auto;
    padding-left: 1em;
  }
}

.menu {
  margin-left: 1em;
  margin-right: 1em;

  @media screen and (min-width: $breakpoint) {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.menu__part {
  box-sizing: border-box;
}

.category__name {
  margin-top: 40px;
  margin-bottom: 4.5px;
  font-weight: 300;
  font-size: 16px;
}

.category__name--line {
  width: 40px;
  border: 1.5px solid $tertiary-color;
  margin-bottom: 12px;
}

.choice {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.choice__card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  height: 4.3em;
  overflow: hidden;
}

.choice__card__txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  flex: 1;
  padding-left: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.choice__card__txt--title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
  font-size: 18px;
  padding-top: 0.8em;
}

.choice__card__txt--description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 300;
  font-size: 15px;
  padding-bottom: 12px;
}

.choice__card__price {
  width: 4.3em;
  height: 100%;
  display: flex;
  padding-top: 2.3em;
  justify-content: center;
}

.choice__card__price span {
  font-weight: 700;
  font-size: 15px;
}

.choice__card__check {
  width: 4.3em;
  height: 100%;
  margin-right: -4.3em;
  background-color: $tertiary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
  cursor: pointer;
}

.choice__card:hover .choice__card__check {
  margin: 0;
  transition: margin 0.4s;
}

.fa-circle-check {
  color: white;
}

.order {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.order__button {
  background: linear-gradient(193.33deg, $primary-color -11.44%, $secondary-color 123.93%);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
  color: white;
  height: 50px;
  border: none;
  border-radius: 25px;
  padding: 1em;
  margin-top: 1.5em;
  margin-bottom: 3em;
  opacity: 1;
  transition: opacity 250ms, transform 250ms ease-in-out;
  width: 186px;
  display: inline-block; 
}

.order__button:hover {
  box-shadow: 0px 4px 16px rgb(0, 0, 0);
  opacity: 0.85;
  transition: all 250ms ease-in-out;
  transform: scale(1.05);
  cursor: pointer;
}

.choice__card__txt p,
.choice__card__txt h3 {
  margin: 0;
}
