// Imports 
@import '../utils/variables';
@import '../utils/mixins';

// Sass 
// FOR THE SECTION AT THE TOP OF THE MENU PAGES 
.banner {
  display: flex;
  align-items: center;
}

// BACK ARROW ICON AT THE TOP OF THE MENU PAGES 
.banner_arrow {
  padding-left: 1em;
  font-size: 1.5em;
}

.banner_title {
  flex-basis: 90%;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 17.14px;
}

.menu_image {
  box-sizing: border-box;

  img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 250px;
  }
}

// THE BEIGE CONTAINER AROUND ALL OF THE MENU CONTENT -> THE BIG BEIGE BOX ON THESE PAGES 
.container {
  background-color: $quaternary-color;
  margin-top: -3em;
  border-radius: 25px 25px 0 0;
  position: relative;

  @media screen and (min-width: $breakpoint) {
    margin: -3em 12em 0em 12em;
  }
}

// THE CONTAINER WHICH IS AROUND ALL OF THE CONTENT IN THE MENU PAGES 
.container_banner {
  font-family: shrikhand;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  height: 51px;
  padding-top: 40px;
  padding-left: 17px;

  @media screen and (min-width: $breakpoint) {
    justify-content: center;
    padding-left: 0em;
  }
}

// THE ICON IN THE TITLE OF THE BEIGE WEBPAGE SECTIONS 
.container_title i {
  right: 1em;

  @media screen and (min-width: $breakpoint) {
    right: auto;
    padding-left: 1em;
  }
}

.menu {
  margin-left: 1em;
  margin-right: 1em;

  @media screen and (min-width: $breakpoint) {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.menu__part {
  box-sizing: border-box;
}

.category__name {
  margin-top: 40px;
  margin-bottom: 4.5px;
  font-weight: 300;
  font-size: 16px;
}

.category__name--line {
  width: 40px;
  border: 1.5px solid $tertiary-color;
  margin-bottom: 12px;
}

.choice {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

// FOR EACH INDIVIDUAL CARD WITH A MENU ITEM ON IT
.choice__card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  height: 4.3em;
  overflow: hidden;
}

.choice__card__txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  flex: 1;
  padding-left: 20px;
  
// below - this mixin adds ellipsis into the project menu pages 
    // -> this applies to the behaviour of the text in the choice cards for these four pages, to ensure that the text does not overflow out of its container when the menu pages are made smaller (e.g for its mobile version)
    // -> refer to the comments around the Kitchen West menu for the problem-solving approach used to achieve this 
  @include textEllipsis();
}

.choice__card__txt--title {
  @include textEllipsis();
  font-weight: 500;
  font-size: 18px;
  padding-top: 0.8em;
}

.choice__card__txt--description {
  @include textEllipsis();
  font-weight: 300;
  font-size: 15px;
  padding-bottom: 12px;
}

.choice__card__price {
  width: 4.3em;
  height: 100%;
  display: flex;
  padding-top: 2.3em;
  justify-content: center;
}

.choice__card__price span {
  font-weight: 700;
  font-size: 15px;
}

// THIS IS THE SASS FOR THE GREEN TICK ANIMATIONS
// %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

.choice__card__check {

  // STYLING 
  width: 4.3em;
  height: 100%;
  margin-right: -4.3em;
  background-color: $tertiary-color;
  display: flex;
  justify-content: center;
  align-items: center;

  // TRANSITION 
  transition-duration: 0.4s;
  cursor: pointer;
}

.choice__card:hover .choice__card__check {
  margin: 0;

  // TO ADD IN THE SAME ANIMATION BUT IN REVERSE WHEN GOING FROM HOVERED OVER TO NOT HOVERED OVER 
      // -> making sure that the transitions (all of which are triggered by hover states) work in reverse
  transition: margin 0.4s;
}

// %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

.fa-circle-check {
  color: white;
}

.order {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

// below -> order button 
// %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
  // this button was repeated throughout all of the webpages in the project -> and so was created using a mixin  
        // this mixin was used twice in the Sass -> the other place it is used is in the header sass file, which targets the sass for the homepage of the project   
  // below is the use of this mixin on the project's four restaurant pages, and creates this button on all four of these pages  
.order__button {
  @include buttonStyles(186px, linear-gradient(193.33deg, $primary-color -11.44%, $secondary-color 123.93%));
}

.choice__card__txt p,
.choice__card__txt h3 {
  margin: 0;
}
